DATABASE_URL = "myRDBMS://myUsername:myPassword@host:DBport/myDB"

PORT = myPortNumber

TYPEORM_CONNECTION = myRDBMS
TYPEORM_USERNAME = myUsername
TYPEORM_PASSWORD = myPassword
TYPEORM_DATABASE = myDB
TYPEORM_HOST = host
TYPEORM_PORT = DBport
TYPEORM_LOGGING = boolean